<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a tweet</a><br />
<table>
    <tr>
        <th>Tweet</th>
        <th>Date</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    <tr th:each="tweet : ${tweets}">
    <td th:text="${tweet.content}"></td>
    <td th:text="${tweet.date}"></td>
    <td th:text="${tweet.sentby}"></td>
    <td><a th:href="@{/delete/{id}(id=${tweet.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>